<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="close()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ "AddWorkflow" | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button color="success" (click)="onSubmit()">
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="ion-margin-vertical">
      <form [formGroup]="form">
        <input-text [control]="getControl('title')" label="Title"></input-text>
        <input-autocomplete
          [control]="getControl('form')"
          [label]="'فرم'"
        ></input-autocomplete>
        <input-autocomplete
          [control]="getControl('states')"
          [label]="'مراحل تایید'"
          [multiple]="true"
        ></input-autocomplete>
      </form>
    </div>
  </ion-content>
</div>
