<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{"NewRequest"|translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        [disabled]="form.invalid"
        color="success"
        (click)="onSubmit()"
      >
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form class="ion-margin-vertical" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-1 ms-1">
      <ion-text>{{ 'RequestType' | translate }}</ion-text>
    </div>
    <nz-cascader
      [nzPlaceHolder]="'SelectRequestType'|translate"
      nzTriggerAction="hover"
      nzExpandTrigger="hover"
      [nzOptions]="options"
      [nzValueProperty]="'id'"
      [nzLabelProperty]="'title'"
      [formControl]="getControl('type')"
      class="wI-100 custom-select-height"
    />
    @if(dynamicForm) {
      <form-builder-creation ></form-builder-creation>
    }
  </form>
</ion-content>
