.menu-header-bg {
    height: 180px;
    width: 350px;
    background: var(--ion-color-primary);
    margin-top: -65px;
    margin-bottom: 60px;
    box-shadow: 0px 1px 10px var(--ion-color-primary);
}

ion-button {
    min-height: 45.5px !important;
}

#header-menu-title {
    ion-img {
        width: 45px;
    }

    ion-text {
        font-weight: bold;
    }
}

.header-content {
    position: absolute;
    top: 30px;
    margin-inline-start: 15px;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 2px solid var(--ion-color-primary);
        margin-inline-end: 14px;
    }

    h2 {
        color: #fff;
        font-weight: bold;
    }

    p {
        font-size: 12px;
        color: #e4e4e4;
        letter-spacing: 0.4px;
    }
}

.icon-language {
    width: 25px;
}