<ion-menu contentId="main-content">
  <ion-content class="ion-padding">
    <div class="menu-header-bg"></div>
    <div class="header-content ion-display-flex ion-align-items-center">
      <img [src]="'/assets/icon/avatar.svg'" alt="" />
      <ion-label>
        <h2>{{user ? user.full_name : 'ناشناس'}}</h2>
        <p>{{user?.position ? user.position : 'نامشخص'}}</p>
      </ion-label>
    </div>
    <ion-button
      class="ion-margin-bottom me-auto ms-auto ion-display-flex w-50"
      fill="solid"
    >
      پروفایل کاربری
    </ion-button>
  </ion-content>
  <ion-footer>
    <ion-toolbar class="ion-text-center">
      <ion-button color="dark" fill="clear" shape="round" size="large">
        <ion-icon name="logo-github"></ion-icon>
      </ion-button>
      <ion-button color="secondary" fill="clear" shape="round" size="large">
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-button>
      <ion-button color="danger" fill="clear" shape="round" size="large">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
