<ion-menu contentId="main-content">
  <ion-header>
    <div class="menu-header-bg">
      
    </div>
    <div class="header-content ion-display-flex ion-align-items-center">
      <img [src]="'/assets/icon/avatar.svg'" alt="" />
      <ion-label>
        <h2>{{ user ? user.full_name : "ناشناس" }}</h2>
        <p>{{ user?.position ? user.position : "نامشخص" }}</p>
      </ion-label>
    </div>
    
  </ion-header>
  <ion-content class="ion-padding">
    <!-- <ion-button
      class="ion-margin-bottom me-auto ms-auto ion-display-flex w-50"
      fill="solid"
    >
      پروفایل کاربری
    </ion-button> -->

    <ion-list lines="none" class="menu-list">
      <!-- آیتم‌های منو -->
      <ion-item
        button
        detail="false"
        class="menu-item"
        routerLink="/dashboard/home"
        routerLinkActive="menu-item-active"
      >
        <ion-icon
          slot="start"
          name="home"
          class="menu-icon ion-margin-end"
        ></ion-icon>
        <ion-text class="menu-label">خانه</ion-text>
      </ion-item>

      <ion-item button detail="false" class="menu-item" routerLink="/profile">
        <ion-icon
          slot="start"
          name="person"
          class="menu-icon ion-margin-end"
        ></ion-icon>
        <ion-text class="menu-label">پروفایل</ion-text>
      </ion-item>

      <ion-item
        button
        detail="false"
        class="menu-item"
        routerLink="/notifications"
        routerDirection="root"
      >
        <ion-icon
          slot="start"
          name="notifications"
          class="menu-icon ion-margin-end"
        ></ion-icon>
        <ion-text class="menu-label">اعلان‌ها</ion-text>
        <div slot="end" class="notification-badge">3</div>
      </ion-item>

      <div class="menu-divider"></div>

      <ion-item
        button
        detail="false"
        class="menu-item"
        (click)="toggleProcessSubMenu()"
        >
        <!-- [class.menu-item-active]="isProcessSubMenuOpen" -->
        <ion-icon
          slot="start"
          name="git-branch"
          class="menu-icon ion-margin-end"
        ></ion-icon>
        <ion-text class="menu-label">{{ "Process" | translate }}</ion-text>
        <ion-icon
          slot="end"
          [name]="isProcessSubMenuOpen ? 'chevron-up' : 'chevron-down'"
          class="submenu-arrow"
        >
        </ion-icon>
      </ion-item>

      @if(isProcessSubMenuOpen) {
      <!-- زیرمنوهای مدیریت فرآیندها -->
      <div class="submenu-container">
        <ion-item
          button
          detail="false"
          class="submenu-item"
          routerLink="/dashboard/form"
          routerLinkActive="menu-item-active"
        >
          <ion-icon
            slot="start"
            name="document-text"
            class="submenu-icon ion-margin-end"
          ></ion-icon>
          <ion-text class="submenu-label">{{"Forms"|translate}}</ion-text>
        </ion-item>

         <ion-item
          button
          detail="false"
          class="submenu-item"
          routerLink="/dashboard/request-state"
          routerLinkActive="menu-item-active"
        >
          <ion-icon
            slot="start"
            name="flag"
            class="submenu-icon ion-margin-end"
          ></ion-icon>
          <ion-text class="submenu-label">{{"States" | translate}}</ion-text>
        </ion-item>

        <ion-item
          button
          detail="false"
          class="submenu-item"
          routerLink="/dashboard/request-type"
          routerLinkActive="menu-item-active"
        >
          <ion-icon
            slot="start"
            name="list"
            class="submenu-icon ion-margin-end"
          ></ion-icon>
          <ion-text class="submenu-label">نوع درخواست‌</ion-text>
        </ion-item>
      </div>
      }

      <div class="menu-divider"></div>

      <ion-item
        button
        detail="false"
        class="menu-item"
        routerLink="/settings"
        routerDirection="root"
      >
        <ion-icon
          slot="start"
          name="settings"
          class="menu-icon ion-margin-end"
        ></ion-icon>
        <ion-text class="menu-label">تنظیمات</ion-text>
      </ion-item>

      <ion-item
        button
        detail="false"
        class="menu-item"
        routerLink="/help"
        routerDirection="root"
      >
        <ion-icon
          slot="start"
          name="help"
          class="menu-icon ion-margin-end"
        ></ion-icon>
        <ion-text class="menu-label">راهنما</ion-text>
      </ion-item>

      <!-- خروج -->
      <ion-item
        button
        detail="false"
        class="menu-item logout-item"
        (click)="logout()"
      >
        <ion-icon
          slot="start"
          name="log-out"
          class="menu-icon ion-margin-end"
        ></ion-icon>
        <ion-text class="menu-label">{{ "SignOut" | translate }}</ion-text>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar class="ion-text-center">
      <ion-button color="dark" fill="clear" shape="round" size="large">
        <ion-icon name="logo-github"></ion-icon>
      </ion-button>
      <ion-button color="secondary" fill="clear" shape="round" size="large">
        <ion-icon name="logo-linkedin"></ion-icon>
      </ion-button>
      <ion-button color="danger" fill="clear" shape="round" size="large">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
