<div class="block-password ion-margin-top">
  <ion-input
    [formControl]="control()"
    [type]="showPassword ? 'text' : 'password'"
    [label]="label() | translate"
    [fill]="fill()"
  >
    <!-- <ion-input-password-toggle slot="end"></ion-input-password-toggle> -->
  </ion-input>
  <ion-button
    shape="round"
    fill="clear"
    class="toggle-password"
    (click)="togglePassword()"
  >
    @if (!showPassword) {
    <ion-icon name="eye-outline"></ion-icon>
    } @else {
    <ion-icon name="eye-off-outline"></ion-icon>
    }
  </ion-button>
</div>
