@if (label()) {
<div class="mb-1 ms-1">
  <ion-text> {{ label() | translate }} </ion-text>
</div>
}
<div class="block-password">
  <ion-input
    [formControl]="control()"
    [type]="showPassword ? 'text' : 'password'"
    [placeholder]="placeHolder() | translate"
    [fill]="fill()"
  >
    <!-- <ion-input-password-toggle slot="end"></ion-input-password-toggle> -->
  </ion-input>
  <ion-button
    shape="round"
    fill="clear"
    class="toggle-password"
    (click)="togglePassword()"
  >
    @if (!showPassword) {
    <ion-icon name="eye-outline"></ion-icon>
    } @else {
    <ion-icon name="eye-off-outline"></ion-icon>
    }
  </ion-button>
</div>
