<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wishlist-container">
    <div class="card" *ngFor="let item of wishList">
      <div class="card-header">
        <div class="left">
          <img [src]="item.icon" alt="icon" class="icon" />
          <h3>{{ item.title }}</h3>
        </div>
        <span class="price">{{ item.price }}$</span>
      </div>

      <div class="progress">
        <div class="progress-bar" [style.width.%]="item.progress"></div>
        <span>{{ item.progress }}%</span>
      </div>

      <button class="view-more" (click)="toggleDetails(item)">
        {{ isExpanded(item) ? 'Hide details' : 'View more' }}
      </button>

      <div
        [@detailExpand]="isExpanded(item) ? 'expanded' : 'collapsed'"
        class="details"
      >
        <p *ngFor="let d of item.details">{{ d }}</p>
      </div>
    </div>
  </div>
</ion-content>
