<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>new-request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <form class="ion-margin-vertical" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-input
      [formControl]="getControl('username')"
      label="نام کاربری"
      fill="outline"
      class="ion-text-left"
    ></ion-input>
  </form> -->
  <!-- <app-autocomplete></app-autocomplete> -->
  <!-- <button nz-button nzType="primary">Primary Button</button> -->
  <!-- <app-autocomplete></app-autocomplete> -->
  <form-builder-config></form-builder-config>
</ion-content>
