<ion-header>
  <ion-toolbar class="ion-display-flex">
    <ion-menu-button size="large" [slot]="'start'"></ion-menu-button>
    <div class="header-title ion-align-items-center ion-display-flex">
      <ion-img
        class="ion-margin-end"
        src="/assets/icon/logo.png"
        alt="یوز"
      ></ion-img>
      <ion-text color="dark"> سامانه حضور و غیاب یوز </ion-text>
    </div>
    <ion-button shape="round" fill="clear" size="large" [slot]="'end'">
      <ion-icon name="notifications-outline" color="dark"></ion-icon>
      <ion-badge color="danger"></ion-badge>
    </ion-button>
  </ion-toolbar>
</ion-header>
