<ion-content [fullscreen]="true">
  <div id="sign-main">
    <div class="sign-header ion-text-end">
      <ion-button fill="clear" shape="round" size="large">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </div>
    <div class="sign ion-display-grid ion-justify-content-center">
      <div class="sign-title ion-text-center">
        <ion-img
          class="logo"
          [src]="logo"
          alt="The Wisconsin State Capitol building in Madison, WI at night"
        ></ion-img>
        <ion-text color="primary">
          <h1 id="title">{{title}}</h1>
        </ion-text>
        <!-- <h4 class="marign-vertical ion-margin-horizontal">
          برای ورود نام کاربری و گذرواژه را وارد کنید
        </h4> -->
      </div>
      <div class="sign-form ion-margin-horizontal">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <input-text
            [control]="getControl('username')"
            label="Username"
          ></input-text>
          @if(mode == "password") {
          <div class="ion-margin-top">
            <input-password
              [control]="getControl('password')"
              [label]="'Password'"
            >
            </input-password>
          </div>
          } @if(mode =="otp" && isSendCode) {
          <div class="ion-margin-vertical">
            <ion-text color="dark">
              کد 5 رقمی ایمیل شده را وارد کنید.
            </ion-text>
            <ion-input-otp
              class="ltr"
              [formControl]="getControl('otp')"
              length="5"
            ></ion-input-otp>
            <ion-text color="dark" class="ion-text-center ion-display-block">
              {{timer}} مانده تا دریافت مجدد کد
            </ion-text>
          </div>
          } @if(mode == "password") {
          <ion-button type="button" fill="clear" size="small">
            رمز عبور خود را فراموش کرده اید؟
          </ion-button>
          } @if(mode == "password" || (mode=="otp" && isSendCode)) {
          <ion-button
            type="submit"
            class="marign-vertical"
            fill="solid"
            size="large"
            expand="block"
            [disabled]="loginForm.invalid || loading"
          >
            ورود @if (loading) {
            <ion-spinner
              class="ion-margin-start"
              name="lines-sharp"
            ></ion-spinner>
            }
          </ion-button>
          } @if(mode=="otp" && !isSendCode) {
          <ion-button
            type="submit"
            class="marign-vertical"
            fill="solid"
            size="large"
            expand="block"
            (click)="getCode()"
          >
            ارسال کد یکبار مصرف @if (loading) {
            <ion-spinner
              class="ion-margin-start"
              name="lines-sharp"
            ></ion-spinner>
            }
          </ion-button>
          }
        </form>
      </div>
      <div class="sign-social ion-text-center">
        <ion-text color="primary">
          <h4>یا ادامه دهید با</h4>
        </ion-text>
        @if(mode != 'password') {
        <ion-button
          fill="outline"
          color="light"
          shape="round"
          (click)="changeMode('password')"
        >
          <ion-icon
            color="dark"
            slot="icon-only"
            name="finger-print"
            size="large"
          ></ion-icon>
        </ion-button>
        } @if(mode != "otp") {
        <ion-button
          fill="outline"
          color="light"
          shape="round"
          (click)="changeMode('otp')"
        >
          <ion-icon
            color="dark"
            slot="icon-only"
            name="finger-print"
            size="large"
          ></ion-icon>
        </ion-button>
        }
      </div>
    </div>
  </div>
</ion-content>
