:host::ng-deep {
  ion-content {
    --padding-start: 0px;
    --padding-end: 0px;
  }
}
#sign-main {
  width: 100%;
  background-image: url(/assets/image/bg-signin.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}
.sign {
  height: calc(100% - 56px);
}
.logo {
  height: 85px;
}
.sign-title {
  #title {
    font-weight: bold;
  }
}

.sign-form {
 
}

.marign-vertical {
  margin-block: 30px;
}
