<ion-content>
  <div class="profile-card">
    <div class="profile-header">
      <div class="p-absolute w-100 h-100 background-opacity"></div>
      <div class="p-relative">
        <div class="avatar">
          <ion-icon name="person-circle"></ion-icon>
        </div>
        <h2 class="user-name">{{ user ? user.full_name : '' }}</h2>
        <p class="user-email">{{ user ? user.email : '' }}</p>
        <div class="attendance-status">
          <span class="status-present">●</span> حاضر در محیط کار
        </div>
      </div>
    </div>

    <div class="profile-content ion-padding-vertical">
      <div class="menu-item">
        <ion-icon name="calendar" class="icon ion-margin-end"></ion-icon>
        <span class="menu-text">گزارش حضور و غیاب</span>
        <span class="badge">امروز: ۸:۱۵</span>
      </div>

      <div class="menu-item">
        <ion-icon name="time" class="icon ion-margin-end"></ion-icon>
        <span class="menu-text">درخواست مرخصی</span>
        <span class="badge badge-success">۲ روز باقی</span>
      </div>

      <div class="menu-item">
        <ion-icon name="business" class="icon ion-margin-end"></ion-icon>
        <span class="menu-text">مدیریت شیفت‌ها</span>
      </div>

      <div class="menu-item">
        <ion-icon name="stats-chart" class="icon ion-margin-end"></ion-icon>
        <span class="menu-text">آمار و گزارشات</span>
      </div>

      <div class="menu-item">
        <ion-icon name="document-text" class="icon ion-margin-end"></ion-icon>
        <span class="menu-text">اسناد و مدارک</span>
        <span class="badge badge-warning">۲ مورد جدید</span>
      </div>

      <div class="menu-item">
        <ion-icon name="notifications" class="icon ion-margin-end"></ion-icon>
        <span class="menu-text">اعلان‌ها</span>
        <span class="badge">۳ جدید</span>
      </div>

      <div class="menu-item">
        <ion-icon name="settings" class="icon ion-margin-end"></ion-icon>
        <span class="menu-text">تنظیمات پروفایل</span>
      </div>

      <div class="menu-item logout" id="testModal">
        <ion-icon name="log-out" class="icon ion-margin-end"></ion-icon>
        <span class="menu-text" (click)="setOpen(true)">خروج از سیستم</span>
      </div>
    </div>
  </div>
</ion-content>

<ion-modal class="custom-modal" [isOpen]="isModalOpen">
  <ng-template>
    <ion-content class="ion-padding">
      <div class="modal-content">
        <div>
          <ion-icon class="modal-icon" name="log-out-outline"></ion-icon>
          <h2 class="modal-title">خروج از حساب کاربری</h2>
          <p class="modal-message">
            آیا از خروج از حساب کاربری خود اطمینان دارید؟
          </p>
        </div>

        <div class="modal-actions">
          <ion-button
            class="modal-button logout-button"
            id="logoutButton"
            (click)="logout()"
            >خروج</ion-button
          >
          <ion-button
            class="modal-button cancel-button"
            id="cancelButton"
            (click)="setOpen(false)"
            >بازگشت</ion-button
          >
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
