<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="close()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{ "AddField" | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button
          [disabled]="form.invalid"
          color="success"
          (click)="onSubmit()"
        >
          <ion-icon name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="ion-margin-vertical"></div>
  </ion-content>
</div>
