<div class="mb-1 ms-1">
  <ion-text>{{ label() | translate }}</ion-text>
</div>
<nz-select
  [nzMode]="multiple() ? 'multiple' : 'default'"
  [nzPlaceHolder]="placeholder()"
  nzAllowClear
  nzShowSearch
  [nzMaxTagCount]="3"
  nzServerSearch
  [(ngModel)]="selectedUser"
  (nzOnSearch)="onSearch($event)"
  class="w-100 custom-select-height"
>
  @if (!loading) { @for (o of optionList; track o) {
  <nz-option [nzValue]="o" [nzLabel]="o"></nz-option>
  } } @else {
  <nz-option nzDisabled nzCustomContent>
    <nz-icon nzType="loading" class="loading-icon" />
    در حال دریافت داده ...
  </nz-option>
  }
</nz-select>
