:host::ng-deep {
  nz-segmented,
  .ant-segmented-item,
  .ant-segmented-item-selected {
    border-radius: 8px !important;
  }
  ion-card {
    border-radius: 0px;
    width: 99%;
    margin: 0 auto;
  }
}

ion-segment {
  margin: 8px 0;
}

ion-searchbar {
  --background: var(--ion-color-light);
  --border-radius: 8px;
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --inner-padding-end: 16px;
  margin-bottom: 8px;
  border-radius: 8px;
}

ion-avatar {
  width: 45px;
  height: 45px;
}

.request-title {
  font-size: medium;
  font-weight: bold;
}

.view-more {
  background: #f7f7f7;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
