<app-main-header></app-main-header>

<ion-content [fullscreen]="true">
  <nz-segmented
    [nzBlock]="true"
    [nzOptions]="options"
    (nzValueChange)="handleValueChange($event)"
  ></nz-segmented>

  <ion-grid class="ion-margin-vertical">
    <ion-list lines="none">
      @for (item of projects; track item.name) {
      <div class="ion-margin-bottom">
        <ion-card>
          <ion-card-content>
            <div class="ion-display-flex ion-margin-bottom">
              <ion-avatar slot="start" class="me-1">
                <img
                  [src]="'assets/icon/'+ item.status +'.svg'"
                  alt="request"
                />
              </ion-avatar>
              <ion-text
                class="ion-display-flex ion-flex-column ion-justify-content-center"
              >
                <ion-text class="request-title" color="dark"
                  >{{ item.name }}</ion-text
                >
                <ion-text class="request-sub">{{ 'مجتبی سجادفر' }}</ion-text>
              </ion-text>

              <ion-icon
                class="ms-auto mt-1"
                color="dark"
                slot="icon-only"
                name="ellipsis-vertical"
                size="small"
              ></ion-icon>
            </div>
            <div class="ion-display-flex">
              <ion-text>{{"وضعیت"}}</ion-text>
              <ion-text
                class="mx-3"
                [color]="item.status == 'success' ? 'success' : item.status == 'reject' ? 'danger' : 'secondary'"
              >
                {{ item.status == 'success' ? 'تایید شده' : item.status ==
                'reject' ? 'رد شده' : 'در حال بررسی' }}
              </ion-text>
              <ion-text class="ms-auto">{{ '1404/08/01' }}</ion-text>
            </div>
          </ion-card-content>
        </ion-card>
        <div class="ion-text-center mx-auto view-more">
          <div [@detailExpand]="isExpanded(item) ? 'expanded' : 'collapsed'">
            <nz-steps
              class="p-3"
              [nzCurrent]="2"
              nzDirection="vertical"
              nzSize="small"
              nzStatus="finish"
            >
              <nz-step
                nzTitle="مدیر تیم فرانت"
                nzDescription="توضیحات."
              ></nz-step>
              <nz-step nzTitle="مدیر فنی" nzDescription="توضیحات."></nz-step>
              <nz-step nzTitle="مدیر عامل" nzDescription="توضیحات."
                >test</nz-step
              >
            </nz-steps>
          </div>
          <ion-text
            (click)="toggleDetails(item)"
            color="medium"
            style="font-size: small"
          >
            <nz-divider class="m-0"></nz-divider>
            {{ isExpanded(item) ? 'بستن' : 'تاریخچه' }}
          </ion-text>
        </div>
      </div>
      }
    </ion-list>
  </ion-grid>
</ion-content>
